/logs
/project/project
/project/target
/target
/lib_managed
/tmp
/.history
/dist
/.idea
/*.iml
/*.ipr
/*.iws
/out
/.idea_modules
/.classpath
/RUNNING_PID
/.settings
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
/null
/.bsp
/.metals
.vscode
/.bloop/
